<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Auto-Garden Account Login</h1>
    <p>The <strong>input type="password"</strong> defines a password field:</p>

    <form action="/login" method="post">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="pwd">Password:</label><br>
      <input type="password" id="passwd" name="passwd"><br><br>
      <input type="submit" value="Login">
    </form>
</body>
</html>
